async-timeout==4.0.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==7.1.2
colorama==0.4.6
colored==1.4.2
dateutils==0.6.12
exceptiongroup==1.1.1
Flask==1.1.4
fuzzywuzzy==0.18.0
gevent==22.10.2
greenlet==2.0.2
idna==3.4
iniconfig==2.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
langdetect==1.0.9
Levenshtein==0.21.0
MarkupSafe==2.0.1
packaging==23.1
pluggy==1.0.0
polyglot==16.7.4
pycld2==0.41
pycparser==2.21
Pygments==2.15.1
PyICU==2.11
pytest==7.3.1
python-dateutil==2.8.2
python-Levenshtein==0.21.0
pytz==2023.3
PyYAML==6.0
rapidfuzz==3.1.1
redis==4.5.5
requests==2.31.0
six==1.16.0
tomli==2.0.1
urllib3==2.0.2
Werkzeug==0.16.1
zope.event==4.6
zope.interface==6.0
